**/.phpunit.cache
/Web/node_modules
/Web/public/hot
/Web/public/build
/Web/public/storage
/Web/storage/*.key
/Web/vendor
/Web/.env
/Mobile/.env
/Web.env.backup
/Web.env.production
**/.phpunit.result.cache
/Web/Homestead.json
/Web/Homestead.yaml
/Web/auth.json
/Web/npm-debug.log
/Web/yarn-error.log
**/.fleet
**/.idea
**/.vscode
**/.DS_Store
